<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body bgcolor="pink">
    <a href="/getCategories?q=0">Rape / Sexual Assault</a><br />
    <a href="/getCategories?q=1">Catcalls/Whistles</a><br />
    <a href="/getCategories?q=2">Commenting</a><br />
    <a href="/getCategories?q=3">Touching /Groping</a><br />
    <a href="/getCategories?q=4">Sexual Invites</a><br />
    <a href="/getCategories?q=5">Indecent exposure</a><br />
    <a href="/getCategories?q=6">Ogling/Facial Expressions/Staring</a><br />
    <a href="/getCategories?q=7">Taking pictures</a><br />
    <a href="/getCategories?q=8">Others</a><br />
    <a href="/getCategories?q=9">Poor / No Street Lighting</a><br />
    <a href="/getCategories?q=10">North East India Report</a><br />
    <a href="/getCategories?q=11">Chain Snatching</a><br />


    <h5> Received token for : {{ messageKey }}</h5>
    <h1> Result Count : {{ TotalResult }}</h1>

</body>
</html>